*{
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}
body{
    min-height:1000px ;
}
p{
    font-weight: 300;
    color:dimgray;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
}
.banner .content {
    text-align: center;
    max-width: 900px;

}
.banner .content h2{
    font-size: 5rem;
    color: #fff;
}
.banner .content p {
    color:dimgray;
    font-size: 0.7rem;
}
.btn {
    font-size:2rem ;
    color:#fff;
    background: #ff0157;
    display: inline-block;
    padding:10px 20px ;
    margin-top:10px ;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing:2px ;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px ;
}
header{
position:fixed;
top: 0;
left: 0;
width: 100%;
padding:40px 90px ;
z-index: 1;
display:flex;
justify-content: space-between;
align-items: center;
transition:0.5s ;
}
header.sticky{
    background: #fff;
    padding:10px 100px ;
    box-shadow:0 5px 20px rgba(0,0,0,0.05)
}
header .logo{
    color:#fff;
    font-weight: 700;
    font-size:1.5rem ;
    text-decoration: none;
}
header .logo span{
    color:red ;
    
}
header.sticky .logo{
    color:#111;
}
header .nav-links ul{
    position: relative;
    display:flex ;
    
}
header .nav-links ul li{
    list-style: none;
    margin-left:30px ;
}
header .nav-links ul li a {
    text-decoration: none ;
    color:#fff;
    font-weight:300 ;
}
header.sticky .nav-links li a {
    color:#111 ;
}
header .nav-links li a:hover{
    color :#ff0157;
}
section {
    padding:100px ;
}
/* -----------------about-------------- */
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .column{
    position: relative;
    width: 48%;
}
.row .column img{ 
    width: 100%;
} 
.title-text{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.title-text span{
    color: #ff0157;
    font-weight: 700;
    font-size:2rem;
}
.row .column .imgbox{
 position: relative;
 width: 100%;
 min-height:300px ;

}
.row .column .imgbox img {
    position:absolute;
    left:0 ;
    top :0 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -----------------------menu--------------- */
.content .box .special-soap img{
    width: 52%;
    
 }
.title{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center;
}
.menu .content{
    display: flex;
    justify-content:center;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 340px;
    margin:20px ;
    border: 15px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.menu .contain .box .imgbox{
position: relative;
width: 100%;
height: 300px;

}
.menu .contain .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .contain .box .text{
padding :15px 0 5px ;
}
.menu .contain .box .text h2{
    font-weight: 400;
    color: #111;
}
/* ----------------expert section -------------- */
.expert .content{
    display:flex ;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin-top:40px ;
}
.expert .content .box{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgbox{
    position: relative;
    width: 100%;
    height: 300px ;

}
.expert .content .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text {
    padding:15px 0 10px ;
}
.expert .content .box .text h2{
 font-weight:400 ;
 color: #111 ;
}
/* -------------testimonials------------ */

.testimonials{
    background:linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),  url(images/pen-yellow-sticky-notes-written-clients-testimonial-wooden-background-165898622.jpg);
    background-size: cover;
    background-position: center;
}
.white  .title-text, .white p{
 color: #fff;
}
.testimonials .content{
    display:flex ;
    justify-content: center ;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px ;

}
.testimonials .content .box{
   width: 340px;
   margin: 20px;
   padding:40px ;
   background :#fff;
   display: flex ;
   justify-content:center ;
align-items: center;
flex-direction: column;
border-radius:10px ;




}
.testimonials .content .box .imgbox {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius:50% ;
    overflow: hidden;
    margin-bottom:20px ;
}
.testimonials .content .box .imgbox  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text{
    text-align: center;

}

.testimonials .content .box .text p{
    color: #666;
    font-style: italic;
}
/* ---
--------------- Contact section ---------------- */
.contact{
  
    margin-top: 10rem;
    background:linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),  url(images/istockphoto-1141639313-170667a.jpg);
    background-size: cover;
}
.contact-from{
    padding:75px 50px ;
    background:#fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top:50px ;
}
.contact-from h3{
    color:#111;
    font-size:1.2em ;
    margin-bottom: 20px;
    font-weight:500;
}

.contact-from .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px ;
}
.contact-from .input-box input,.contact-from .input-box textarea{
    width: 100%;
    border:1px solid #555;
    padding: 10px;
    color:#111;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
}
.contact-from .input-box input[type = 'submit']
{
    font-size:1em ;
    color: #fff;
    background:#ff0157;  
    display: inline-block;
    
 text-transform: uppercase;
   text-decoration: none;
   letter-spacing:2px ;
   transition: 0.5s ;
   max-width:100px ;
   font-weight: 500;
    border: none;   
    cursor: pointer;
}
/* -----------for responsiveness--------- */
@media (max-width:991px) {
    header ,header.sticky{
        padding: 20px 20px;
    }
    header .nav-links{
        display: none;
    }
    header .nav-links.active{
        width: 100%;
        height: 100%;
        position:fixed;
        top: 0;
        left: 0;
        display:flex;
        justify-content:center ;
        align-items: center;
        flex-direction:column;
        background:#fff;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background:url(images/2292434-200.png) ,#fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size:30px;
        cursor: pointer;
    }
    .menuToggle.active{
        background:url(images/download.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size:30px;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
   
}